<% @form ||= GttConfiguration.for(@project) %>
<%= labelled_form_for @form,
      url: update_gtt_configuration_path(@project),
      html: { method: :put } do |f| %>

  <h3><%= t :label_gtt_settings_headline %></h3>

  <div class="box tabular">
    <p>
      <%= f.select :gtt_tile_source_ids,
        options_from_collection_for_select(GttTileSource.sorted, :id, :name, selected: @form.gtt_tile_source_ids),
        {}, { multiple: true, size: 5 } %>
      <br /><em><%= t :gtt_tile_sources_info %></em>
    </p>
    <p>
      <%= content_tag(:label, l(:gtt_map_rotate_label)) %>
      <%= number_field_tag('gtt_configuration[map_rotation]', @project.map_rotation, min: 0, max: 359, size: 10, readonly: true ) %>
      <br /><em><%= t :gtt_map_rotate_info_html  %></em>
    </p>
  </div>

  <div class="box">
    <%= map_form_field f, @form.map, bounds: nil, edit_mode: 'Polygon', rotation: @project.map_rotation %>
  </div>

  <%= submit_tag l(:button_save) %>

<% end %>


