<% @gtt_configuration ||= GttConfiguration.for(@project) %>
<%= labelled_form_for @gtt_configuration,
      url: update_gtt_configuration_path(@project),
      html: { method: :put } do |f| %>

  <h3><%= t :label_gtt_settings_headline %></h3>
  <div class="box tabular">
    <p>
      <%= f.select :gtt_tile_source_ids,
        options_from_collection_for_select(GttTileSource.all.order(name: :asc), :id, :name, selected: @gtt_configuration.gtt_tile_source_ids),
        {}, { multiple: true, size: 5 } %>
      <br /><em><%= t :gtt_tile_sources_info %></em>
    </p>
  </div>

  <%= submit_tag l(:button_save) %>

<% end %>


