<!--
<fieldset>
  <%= content_tag(:p, l(:gtt_text_settings_help)) %>
  <p>
    <%= content_tag(:label, l(:gtt_label_geometry)) %>
    <%= text_field_tag("settings[map_api_key_setting]",
        @settings['map_api_key_setting'],
        :size => '60') %><br />
    <em><%= l(:label_example) %>: <%= l(:gtt_text_settings_geometry_example) %></em>
  </p>
</fieldset>
-->
<p>
  <%= content_tag(:label, l(:gtt_settings_default_map_center_longitude)) %>
  <%= text_field_tag('settings[default_map_center_longitude]',
      @settings['default_map_center_longitude'],
      :placeholder => '139.691706',
      :size => 10) %>
</p>
<p>
  <%= content_tag(:label, l(:gtt_settings_default_map_center_latitude)) %>
  <%= text_field_tag('settings[default_map_center_latitude]',
      @settings['default_map_center_latitude'],
      :placeholder => '35.689524',
      :size => 10) %>
</p>
<p>
  <%= content_tag(:label, l(:gtt_settings_default_map_zoom_level)) %>
  <%= text_field_tag('settings[default_map_zoom_level]',
      @settings['default_map_zoom_level'],
      :placeholder => '8',
      :size => 5) %>
</p>
