<div class="box tabular settings">
<h3><%= l(:select_default_map_settings) %></h3>

<p>
  <%= content_tag(:label, l(:label_default_collapsed_issues_page_map)) %>
  <%= check_box_tag 'settings[default_collapsed_issues_page_map]', true, @settings[:default_collapsed_issues_page_map] %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_center_lon)) %>
  <%= text_field_tag('settings[default_map_center_longitude]',
      @settings['default_map_center_longitude'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_center_lat)) %>
  <%= text_field_tag('settings[default_map_center_latitude]',
      @settings['default_map_center_latitude'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_zoom_level)) %>
  <%= text_field_tag('settings[default_map_zoom_level]',
      @settings['default_map_zoom_level'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_maxzoom_level)) %>
  <%= text_field_tag('settings[default_map_maxzoom_level]',
      @settings['default_map_maxzoom_level'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_fit_maxzoom_level)) %>
  <%= text_field_tag('settings[default_map_fit_maxzoom_level]',
      @settings['default_map_fit_maxzoom_level'],
      :size => 10) %>
</p>

</div>

<div class="box tabular settings">
<h3><%= l(:select_edit_geometry_settings) %></h3>

<p>
  <%= content_tag(:label, l(:label_editable_geometry_types_on_issue_map)) %>
  <!-- <%= hidden_field_tag('settings[editable_geometry_types_on_issue_map][]', '') %> -->
  <% ["Point", "LineString", "Polygon"].each do |g| %>
    <label class="block">
      <% value = @settings['editable_geometry_types_on_issue_map'].present? ? @settings['editable_geometry_types_on_issue_map'].include?(g) : false %>
      <%= check_box_tag('settings[editable_geometry_types_on_issue_map][]', g, value, id: nil) %>
      <%= l_or_humanize(g.downcase, prefix: 'label_gtt_')%>
    </label>
  <% end %>
</p>

<p>
  <%= content_tag(:label, l(:label_enable_geojson_upload_on_issue_map)) %>
  <%= check_box_tag 'settings[enable_geojson_upload_on_issue_map]', true, @settings[:enable_geojson_upload_on_issue_map] %>
</p>
</div>

<div class="box tabular settings">
<h3><%= l(:select_other_gtt_settings) %></h3>

<p>
  <%= content_tag(:label, l(:label_default_target_enabled)) %>
  <%= check_box_tag 'settings[default_target_enabled]', true, @settings[:default_target_enabled] %>
</p>

<p>
  <%= content_tag(:label, l(:label_default_measure_enabled)) %>
  <%= check_box_tag 'settings[default_measure_enabled]', true, @settings[:default_measure_enabled] %>
</p>

<p>
  <%= content_tag(:label, l(:label_hide_map_for_invalid_geom)) %>
  <%= check_box_tag 'settings[hide_map_for_invalid_geom]', 1, Setting.plugin_redmine_gtt['hide_map_for_invalid_geom'] %>
</p>
</div>
