<h3><%= l(:select_default_tracker_icon) %></h3>

<% Tracker.all.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= select_tag "settings[tracker_#{t.id}]", "<option>#{@settings["tracker_#{t.id}"]}</option>".html_safe %> 
    <i id="icon_settings_tracker_<%= t.id %>"></i>
  </p>
<% end %>
</div>
<div class="box tabular settings">
<h3><%= l(:select_default_status_color) %></h3>

<% IssueStatus.all.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= color_field_tag "settings[status_#{t.id}]", @settings["status_#{t.id}"] %>
  </p>
<% end %>
</div>

<%= javascript_tag do %>
  var glyph = ol.style.FontSymbol.prototype.defs.glyphs;
  for (var font in ol.style.FontSymbol.prototype.defs.fonts){
    for (var i in glyph){
      if (glyph[i].font == font){
        $("[id^='settings_tracker_']").append(new Option(glyph[i].name, i))
      }
    }
  }
  $("[id^='settings_tracker_']").change(function(){
    var trackerId = $(this).attr("id")
    $("#icon_" + trackerId).attr("class", $(this).val())
  })
<% end %>
