<h3><%= l(:select_default_tracker_icon) %></h3>

<% Tracker.all.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= select_tag "settings[tracker_#{t.id}]", "<option>#{@settings["tracker_#{t.id}"]}</option>".html_safe %>
    <i id="icon_settings_tracker_<%= t.id %>"></i>
  </p>
<% end %>
</div>
<div class="box tabular settings">
<h3><%= l(:select_default_status_color) %></h3>

<% IssueStatus.all.sort.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= color_field_tag "settings[status_#{t.id}]", @settings["status_#{t.id}"] %>
  </p>
<% end %>
</div>

<div class="box tabular settings">
<h3><%= l(:select_default_map_settings) %></h3>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_center_lon)) %>
  <%= text_field_tag('settings[default_map_center_longitude]',
      @settings['default_map_center_longitude'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_center_lat)) %>
  <%= text_field_tag('settings[default_map_center_latitude]',
      @settings['default_map_center_latitude'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_zoom_level)) %>
  <%= text_field_tag('settings[default_map_zoom_level]',
      @settings['default_map_zoom_level'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_maxzoom_level)) %>
  <%= text_field_tag('settings[default_map_maxzoom_level]',
      @settings['default_map_maxzoom_level'],
      :size => 10) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_general_fit_maxzoom_level)) %>
  <%= text_field_tag('settings[default_map_fit_maxzoom_level]',
      @settings['default_map_fit_maxzoom_level'],
      :size => 10) %>
</p>
</div>

<div class="box tabular settings">
<h3><%= l(:select_default_geocoder_settings) %></h3>

<p>
  <%= content_tag(:label, l(:geocoder_options)) %>
  <%= text_area_tag('settings[default_geocoder_options]',
      @settings['default_geocoder_options'],
      :escape => false,
      :rows => 30,
      :cols => 100) %>
</p>
</div>

<%= javascript_tag do %>
  window.gtt_setting()
<% end %>
