<h3><%= l(:select_default_tracker_icon) %></h3>

<% Tracker.all.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
  </p>
<% end %>

<hr>

<h3><%= l(:select_default_status_color) %></h3>

<% IssueStatus.all.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= color_field_tag "settings[status_#{t.id}]", @settings["status_#{t.id}"] %>
  </p>
<% end %>
