<h3><%= l(:select_default_tracker_icon) %></h3>

<% Tracker.sorted.each do |t| %>
<p>
  <%= content_tag :label, t.name %>
  <%= select_tag "settings[tracker_#{t.id}]", "<option>#{@settings["tracker_#{t.id}"]}</option>".html_safe %>
  <i id="icon_settings_tracker_<%= t.id %>"></i>
</p>
<% end %>

<br>

<h3><%= l(:select_default_status_color) %></h3>

<% IssueStatus.sorted.each do |t| %>
<p>
  <%= content_tag :label, t.name %>
  <%= color_field_tag "settings[status_#{t.id}]", @settings["status_#{t.id}"] %>
</p>
<% end %>

<br>

<h3><%= l(:select_other_style_settings) %></h3>

<p>
  <%= content_tag(:label, l(:gtt_settings_vector_minzoom_level)) %>
  <%= text_field_tag('settings[vector_minzoom_level]',
      @settings['vector_minzoom_level'],
      :size => 10 ) %>
</p>
