<%= error_messages_for 'tile_source' %>


<div class="box tabular">
  <p>
    <%= label_tag('tile_source_type', l(:label_type)) %>
    <%= tile_source_type_select_tag(@tile_source) %>
  </p>

  <p><%= f.text_field :name, required: true, size: 25  %></p>

  <%= tile_source_fields @tile_source, f %>

</div>



