<p>
  <%= f.text_field :url, size: 50 %>
  <em class="info"><%= l :text_osm_url_sample %></em>
</p>
<p><%= f.text_field :min_zoom, size: 10 %></p>
<p><%= f.text_field :max_zoom, size: 10 %></p>
<p><%= f.text_area :attributions %></p>

