<div class="contextual">
<%= link_to l(:label_gtt_tile_source_new), new_gtt_tile_source_path, :class => 'icon icon-add' %>
</div>

<%= title l :label_gtt_tile_source_plural %>

<% if @tile_sources.any? %>
<table class="list tile_sources">
  <thead>
    <tr>
      <th><%= l :label_type %></th>
      <th><%= l :label_name %></th>
      <th><%= l :label_baselayer %></th>
      <th><%= l :label_global %></th>
      <th><%= l :label_default %></th>
      <th><%= l :label_config %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render collection: @tile_sources, partial: 'tile_source' %>
  </tbody>
</table>

<% else %>
<p class="nodata"><%= l :label_no_data %></p>
<% end %>

<%= javascript_tag do %>
  $(function() { $("table.tile_sources tbody").positionedItems(); });
<% end %>
